
#footer1{

	text-align: center;
	/* background: #0d0d0d; */
	background: #080705;
	padding-top: 25px;
	font-size: 16px;
	color: #fff;
	line-height: 16px;
}

#footer{
	height: 350px;
	text-align: center;
	background: #0d0d0d;
	padding-top: 25px;
	font-size: 16px;
	color: #fff;
	line-height: 16px;
}
#footer .wrap{line-height: 16px;}
#footer a{
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
	line-height: 14px;
}
#footer a:hover{text-decoration: underline;}
#footer1 rekv{
	padding: 0px 15px;
}


.icon-step-01 {
	background-position: 0 -143px;
	width: 36px;
	height: 36px;
}
actions-full.css:6
[class*="icon-"], .delivery-note > span:before, .steps-list li:after {
	background: url(../images/hotfooter-sprite.png) no-repeat;
	display: inline-block;
	vertical-align: top;
}
.step-item {
	font-size: 12px;
	line-height: 14px;
	overflow: hidden;
}
.steps {
	padding: 0 0 20px 35px;
	overflow: hidden;
}
.work-steps {
	padding: 31px 10px 20px;
	color: #fff;
}
.max-wrap {
	max-width: 980px;
	margin: 0 auto;
}
.steps-label {
	float: left;
	font-size: 20px;
	line-height: 22px;
	padding: 5px 27px 0 0;
	max-width: 230px;
}
.steps-wrap {
	overflow: hidden;
	padding: 0 0 20px;
}
.steps-list {
	padding: 0;
	list-style: none;
	font-size: 0;
	letter-spacing: -4px;
	margin: 0 -12px 0 0;
}
.steps-list li {
	width: 25.0%;
	font-size: 16px;
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.steps-list li .step-item {
	padding: 0 15px 0 0;
}
actions-full.css:67
.step-item {
	font-size: 12px;
	line-height: 14px;
	overflow: hidden;
}
.step-img {
	padding: 0 10px 0 0;
	float: left;
}
.icon-step-01 {
	background-position: 0 -143px;
	width: 36px;
	height: 36px;
}
actions-full.css:6
[class*="icon-"], .delivery-note > span:before, .steps-list li:after {
	background: url(../images/hotfooter-sprite.png) no-repeat;
	display: inline-block;
	vertical-align: top;
}
.step-img {
	padding: 0 10px 0 0;
	float: left;
}
.step-description {
	padding: 2px 0 0;
	display: block;
	overflow: hidden;
}
.steps-list li .step-item {
	padding: 0 15px 0 0;
}
actions-full.css:67
.step-item {
	font-size: 12px;
	line-height: 14px;
	overflow: hidden;
}
.steps-list li {
	width: 25.0%;
	font-size: 16px;
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
/*--== DELIVERY ==--*/
.delivery-section, .delivery-section *, .work-section, .work-section *, .footer-area, .footer-area *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.max-wrap{max-width:980px;margin:0 auto;}
/*icons*/
[class*="icon-"], .delivery-note > span:before, .steps-list li:after{background:url(../images/hotfooter-sprite.png) no-repeat;display:inline-block;vertical-align:top;}
.icon-lock, .delivery-note > span:before{background-position:0 0;width:11px;height:13px;}
.post-country{display:none;}
.icon-phone{background-position:0 -33px;width:19px;height:19px;}
.icon-mail{background-position:0 -72px;width:19px;height:13px;}
.icon-back{background-position:0 -105px;width:33px;height:18px;}
.icon-step-01{background-position:0 -143px;width:36px;height:36px;}
.icon-step-02{background-position:0 -199px;width:41px;height:41px;}
.icon-step-03{background-position:0 -260px;width:37px;height:37px;}
.icon-step-04{background-position:0 -317px;width:37px;height:38px;}
.icon-arrow-step, .steps-list li:after{background-position:0 -375px;width:61px;height:13px;}
.icon-post-blr, #BLR-post-img .post-country{display:inline-block;background-position:0 -408px;width:138px;height:50px;}
.icon-post-rus, #RUS-post-img .post-country{display:inline-block;background-position:0 -478px;width:113px;height:55px;}
.icon-post-kaz, #KAZ-post-img .post-country{display:inline-block;background-position:0 -553px;width:186px;height:23px;}
.icon-post-kgz, #KGZ-post-img .post-country{display:inline-block;background-position:0 -596px;width:180px;height:42px;}
.icon-post-ukr, #UKR-post-img .post-country{display:inline-block;background-position:0 -658px;width:186px;height:37px;}
.icon-post-lva, #LVA-post-img .post-country, #LTU-post-img .post-country{display:inline-block;background-position:0 -715px;width:186px;height:43px;}
.icon-post-rus-alt, #RUS-post-img .post-country-alt{display:inline-block;background-position:0 -778px;width:170px;height:55px;}
.icon-post-mda, #MDA-post-img .post-country{display:inline-block;background-position:0 -853px;width:55px;height:55px;}
.icon-post-mc, #-post-img .post-country{display:inline-block;background-position:0 -928px;width:88px;height:55px;}
.icon-post-visa, #-post-img .post-country-alt{display:inline-block;background-position:0 -1003px;width:88px;height:55px;}
.icon-post-deu, #DEU-post-img .post-country{display:inline-block;background-position:0 -1078px;width:186px;height:55px;}
.icon-post-pol, #POL-post-img .post-country{display:inline-block;background-position:0 -1153px;width:186px;height:38px;}
.icon-hotname{background-position:0 -1211px;width:16px;height:16px;}
/*icons end*/
.delivery-section{background:#fff;}
.delivery-post{padding:10px 15px;font-size:12px;line-height:18px;color:#000;text-align:center;}
.delivery-post, .delivery-post *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.delivery-post .deliver-holder{display:inline-block; vertical-align:middle; padding:0; margin:0 1% 0 0; max-width:68%; border:solid #e1e1e1; border-width:0 2px 0 0;}
.post-country, .post-country-alt{background-position:-100px -100px;vertical-align:middle;margin:8px 10px;}
.post-country-alt{display:none;}
#RUS-post-img .post-country-alt, #-post-img .post-country-alt{display:inline-block;}
.delivery-post .delivery-label{display:inline-block;vertical-align:middle;padding:0 11px;font-size:22px;line-height:26px;}
.delivery-post#BLR-post-img .delivery-label,
.delivery-post#RUS-post-img .delivery-label,
.delivery-post#KAZ-post-img .delivery-label,
.delivery-post#KGZ-post-img .delivery-label,
.delivery-post#UKR-post-img .delivery-label,
.delivery-post#LVA-post-img .delivery-label,
.delivery-post#LTU-post-img .delivery-label,
.delivery-post#DEU-post-img .delivery-label,
.delivery-post#POL-post-img .delivery-label{max-width:42%;}
.delivery-post#MDA-post-img .delivery-label{max-width:50%;}
.delivery-note{text-align:left;display:inline-block;vertical-align:middle;max-width:28%;}
.delivery-note > span{display:block;padding:0 0 0 18px;position:relative;}
.delivery-note > span > em{font-style:normal;display:inline-block;vertical-align:top;}
.delivery-note > span:before{content:'';position:absolute;left:0;top:0;}
/*--== DELIVERY END ==--*/

/*--== WORKS ==--*/
.white {
color: #fff !important;}
.work-steps{padding:31px 10px 20px;color:#fff;}
/*steps*/
.steps{padding:0 0 20px 35px;overflow:hidden;}
.steps-label{float:left;font-size:20px;line-height:22px;padding:5px 27px 0 0;max-width:230px;}
/*step list*/
.steps-wrap{overflow:hidden;padding:0 0 20px;}
.steps-list{padding:0;list-style:none;font-size:0;letter-spacing:-4px;margin:0 -12px 0 0;}
.steps-list li{width:25.0%;font-size:16px;letter-spacing:normal;display:inline-block;vertical-align:top;position:relative;}
.steps-list li:after{content:'';position:absolute;right:100%;top:100%;width:61px;height:13px;margin:-1px 15px 0 0;}
.steps-list li:first-child:after{content:none;display:none;}
.step-item{font-size:12px;line-height:14px;overflow:hidden;}
.steps-list li .step-item{padding:0 15px 0 0;}
.step-img{padding:0 10px 0 0;float:left;}
.step-description{padding:2px 0 0;display:block;overflow:hidden;}
/*step list end*/
/*steps end*/
/*call*/
.call{text-align:center;font-size:20px;line-height:22px;color:#fff;padding:0 0 9px;}
.call > span{display:inline-block;vertical-align:top;position:relative;}
.call .call-title:before{content:'';display:inline-block;vertical-align:top;margin:3px 13px 0 -17px;height:17px;width:17px;background-color:#05a210;border-radius:50%;}
/*call end*/
/*--== WORKS END ==--*/

/*--== FOOTER ==--*/
.footer-area{font-size:12px;line-height:18px;padding:0;background:#fff;}
/* footer holder */
.footer-holder{padding:15px;}
.footer-section{font-size:12px;line-height:18px;color:#505050;overflow:hidden;padding:9px 0 6px;border-top:2px solid #ececec;position:relative;}
.footer-section:first-child{border-top:none;}
.footer-left{width:59%;float:left;}
.footer-section:first-child .footer-left{width:88.7%;}
.footer-right{float:right;width:33%;margin-left:12.4%;}
.footer-section:first-child .footer-right{width:55.4%;margin-left:3.4%;}
.footer-bottom{overflow:hidden;padding-left:5px;text-align:right;}
.footer-bottom > *{padding:5px 0 0;}
.footer-bottom > *:first-child{padding:0;}
.hotname .icon-hotname{margin:0;height:18px;width:174px;}
.footer-section address{font-style:normal;overflow:hidden;font-size:14px;line-height:21px;margin:0;}
.politic *{display:inline;}
/*contact list*/
.contacts-list{padding:0;margin:0;list-style:none;font-size:14px;line-height:18px;float:left;width:50%;}
.contacts-list li{padding:0 5px 9px 28px;position:relative;}
.contacts-list li.call-title{font-size:13px;line-height:13px;font-weight:normal;padding:0 0 4px;}
.ordinfo-text{display:block;width:50%;float:right;font-size:14px;line-height:16px;padding:0 0 20px;}
.contacts-list li [class*="icon-"]{left:1px;position:absolute;top:2px;}
.contacts-list li .icon-mail{left:1px;top:3px;}
.contacts-phone{font-size:20px;line-height:22px;}
/*contact list end*/
/*back to top*/
.back-to-top{position:absolute;right:1px;top:10px;text-decoration:none !important;width:60px;height:60px;border-radius:50%;border:1px solid #dadada;z-index:555;background:rgba(255, 255, 255, 0.2);-webkit-transition:0.2s;-moz-transition:0.2s;-o-transition:0.2s;transition:0.2s;backface-visibility:hidden;}
.back-to-top i, .back-to-top [class*="icon-"]{position:absolute;top:11px;left:50%;margin-left:-16px;}
.back-to-top .text-inner{display:block;color:#505050;font:12px/14px Arial, Helvetica, sans-serif;text-align:center;padding:31px 0 0;}
.back-to-top:hover{border-color:#505050;background:#eee;}
/*back to top end*/
/* footer holder end */
/*--== FOOTER END ==--*/
@media only screen and (max-width:979px){
	/*--== DELIVERY ==--*/
	.delivery-post .deliver-holder{padding:0 0 10px;margin:0 0 8px;border-width:0 0 2px 0;display:block;max-width:none;}
	.delivery-post .delivery-label{margin:0;}
	.delivery-post#BLR-post-img .delivery-label,
	.delivery-post#RUS-post-img .delivery-label,
	.delivery-post#KAZ-post-img .delivery-label,
	.delivery-post#KGZ-post-img .delivery-label,
	.delivery-post#UKR-post-img .delivery-label,
	.delivery-post#LVA-post-img .delivery-label,
	.delivery-post#LTU-post-img .delivery-label,
	.delivery-post#DEU-post-img .delivery-label,
	.delivery-post#POL-post-img .delivery-label{max-width:none;}
	.delivery-note{display:block;text-align:center;max-width:none;}
	.delivery-note > span{display:inline-block;vertical-align:top;padding:0;}
	.delivery-note > span:before{content:'';position:relative;left:auto;top:auto;display:inline-block;vertical-align:top;width:11px;height:13px;margin:1px 5px 0 0;}
	/*--== DELIVERY END ==--*/

	/*--== WORKS ==--*/
	.work-steps{padding:22px 10px 23px;}
	/*steps*/
	.steps{padding:0 29px 12px;}
	.steps-label{display:block;text-align:center;float:none;padding:0 0 37px;max-width:none;}
	/*step list*/
	.steps-wrap{overflow:visible;padding:20px 0;}
	.steps-list{margin:0;}
	.steps-list li:after{top:auto;bottom:100%;margin:0 -31px 4px 0;-webkit-transform:scaleY(-1);-moz-transform:scaleY(-1);-ms-transform:scaleY(-1);-o-transform:scaleY(-1);transform:scaleY(-1);}
	.step-item{text-align:center;}
	.steps-list li .step-item{padding:0 12px;}
	.step-img{padding:0 0 10px;float:none;text-align:center;min-height:47px;}
	/*step list end*/
	/*steps end*/
	/*call*/
	.call{font-size:19px;line-height:24px;padding:0 100px;}
	/*call end*/
	/*--== WORKS END ==--*/

	/*--== FOOTER ==--*/
	.footer-holder{padding:16px 19px 5px;}
	.footer-section{padding:11px 0 16px;}
	.footer-left{width:65.0%;}
	.footer-right, .footer-section:first-child .footer-right{float:none;width:auto;margin-left:0;}
	.contacts-list{float:none;padding:0 0 4px;width:100%;}
	.ordinfo-text{float:none;width:100%;}
	.contacts-list li{padding:0 5px 9px 30px;}
	.back-to-top{top:12px;}
	.copyright{display:block;padding:10px 0 0;}
	/*--== FOOTER END ==--*/
}
@media only screen and (max-width:639px){
	/*--== DELIVERY ==--*/
	.delivery-post{text-align:center;padding:7px 15px 15px;}
	.delivery-post .deliver-holder{padding:0 0 10px;margin:0 0 8px;}
	.delivery-post .delivery-label{padding:0;}
	.delivery-note{margin:0;}
	/*--== DELIVERY END ==--*/

	/*--== WORKS ==--*/
	.work-steps{padding:16px 15px;}
	/*steps*/
	.steps{padding:0 0 7px;}
	.steps-label{padding:0 0 20px;}
	/*step list*/
	.steps-wrap{padding: 0 30px;width: 218px;margin: 0 auto;}
	.steps-list{margin:0;}
	.steps-list li{display:block;width:auto;padding:0 0 23px;}
	.steps-list li:after{top:auto;right:-40px;bottom:100%;margin:0 0 9px;-webkit-transform:rotate(83deg) scaleY(-1);-moz-transform:rotate(83deg) scaleY(-1);-ms-transform:rotate(83deg) scaleY(-1);-o-transform:rotate(83deg) scaleY(-1);transform:rotate(83deg) scaleY(-1);}
	.steps-list li:nth-child(odd):after{right:auto;left:-52px;-webkit-transform:rotate(-83deg) scaleY(-1) scaleX(-1);-moz-transform:rotate(-83deg) scaleY(-1) scaleX(-1);-ms-transform:rotate(-83deg) scaleY(-1) scaleX(-1);-o-transform:rotate(-83deg) scaleY(-1) scaleX(-1);transform:rotate(-83deg) scaleY(-1) scaleX(-1);margin:0 0 5px;}
	.step-item{text-align:left;}
	.steps-list li .step-item{padding:0;}
	.step-img{padding:0 10px 0 0;float:left;min-height:0;text-align:left;}
	.step-description{padding:6px 5px 0 0;}
	/*step list end*/
	/*steps end*/
	/*call*/
	.call{font-size:14px;line-height:30px;font-weight:normal;padding:0;}
	.call .call-title{display:inline;font-size:20px;line-height:27px;font-weight:bold;position:relative;margin:0;padding:0 15px;}
	.call .call-title{display:block;}
	/*call end*/
	/*--== WORKS END ==--*/

	/*--== FOOTER ==--*/
	.footer-holder{padding:5px 15px;}
	.footer-section{padding:15px 0 14px;}
	.footer-left{width:auto;float:none;}
	.footer-right{float:none;width:auto;margin-left:0;}
	.contacts-list{width:auto;padding:0 38px 4px 0;}
	.contacts-list li{padding:0 5px 9px 30px;}
	.footer-bottom{padding:20px 0 0;}
	.footer-section>*{display:block;text-align:left;}
	.copyright{display:block;padding:19px 0 0;}
	/*--== FOOTER END ==--*/
}
@media only screen and (max-width:319px){
	.call{font-size:14px;line-height:18px;}
	.footer-holder{padding:13px 3% 16px;}
	.footer-section:first-child .footer-left{width:auto;text-align:center;}
	.footer-right{text-align:center;}
	.contacts-list{padding:0 0 4px;width:auto;display:inline-block;text-align:left;}
	.contacts-phone{font-size:18px;}
	.footer-section:first-child{padding:15px 0 85px;}
	.footer-section:last-child{text-align:center;}
	.footer-section>*{text-align:center;}
	.footer-section address{font-size:12px;line-height:16px;}
	.back-to-top{bottom:12px;top:auto;right:50%;margin-right:-31px;}
	.footer-bottom{text-align:center;padding-top:10px;}
	.copyright{padding-top:10px;}
}

/*--== POPUP MESSAGES ==--*/
#pop-messages ul{list-style:none;padding:0;margin:0;}
#pop-messages{position:fixed;bottom:0;left:0;z-index:1000;}
#pop-messages li{display:none;width:200px;background:black;background:rgba(0, 0, 0, 0.8);font:16px/20px arial, sans-serif;color:#fff;border:1px solid #fff;box-shadow:0 0 5px -1px #000;padding:15px 20px 15px;text-align:center;margin-bottom:5px;}
.close-msg{height:16px;width:16px;border:1px solid #fff;cursor:pointer;position:absolute;top:0;right:0;background:url(../images/close-msg.png) 1px 1px no-repeat;}
/*--== POPUP MESSAGES END ==--*/

/*--== RED CONNECT & CALL BACK ==--*/
.calllback-mobile{display:none;}
@media only screen and (max-width:979px){
	.calllback-mobile{display:block;}
	#rc-connect, #pop-messages{display:none !important;}
}
/*--== RED CONNECT & CALL BACK END ==--*/
.delivery-note {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	max-width: 28%;
}
.steps-list li:after {
	content: '';
	position: absolute;
	right: 100%;
	top: 100%;
	width: 61px;
	height: 13px;
	margin: -1px 15px 0 0;
}

/************************************************************************************************/

.country_select{
	display: none;
}
.republic-belarus{
	margin-bottom: 15px;
	position: relative;
	display: block;
	padding-left: 35px;
}
.republic-belarus:before{
	position: absolute;
	top: 0px;
	left: 5px;
	content: '';
	width: 20px;
	height: 20px;
	background-image: url("../images/belarus-flag.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
/*****************kmacb start******************/
#kmacb {
	position: fixed;
	*visibility: hidden;
	/*  display: none;*/
	background-color: transparent;
	width: 160px;
	height: 160px;
	z-index: 200000 !important;
	right: 15px;
	bottom: 15px;
	webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

/*#kmacb - form - append {
display: none;
}*/
@media (max-width: 767px) {
	.kmacb__manager {
		display: none !important;
	}

	#kmacb {
		display: none !important;
	}

	.image-effect-future {
		width: 100% !important;
	}

	.image-effect-future a {
		text-align: center !important;
		margin: 10px !important;
		display: block;
		width: 70%;
		margin-left: 15% !important;
	}

	.image-effect-future .share-layer {
		left: 0 !important;
	}

	.image-effect-future:hover .share-layer {
		width: 100% !important;
		-webkit-transform: translateX(0px) !important;
		transform: translateX(0px) !important;
	}
}

#kmacb a {
	text-decoration: none;
	webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.kmacb__manager {
	width: 150px !important;
	height: 150px !important;
	transition: none;
	position: fixed;
	*visibility: hidden;
	/*  display: none;*/
	background-color: transparent;
	width: 160px;
	height: 160px;
	z-index: 200000 !important;
	right: 15px;
	bottom: 15px;
}

.kmacb__manager-circle {
	background: #52aff7;
	position: absolute;
	width: 120px;
	height: 120px;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
	border-radius: 100%;
	webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.kmacb__manager-img {
	background: center bottom no-repeat;
	position: absolute;
	width: 120px;
	height: 120px;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
	border-radius: 100%;
	webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.kmacb__manager-man1 .kmacb__manager-img {
	background-position: 15px 100%;
	background-image: url(../images/5.png);
}

.kmacb__manager-man1 .kmacb__manager-img p {
	display: none;
}

#kmacb.spinner-m1 .kmacb__manager-img {
	background-position: 50% 20%;
	background-size: 40%;
	background-image: url(../images/call-phone-m1.png);
}

#kmacb.spinner-m1 .kmacb__manager-img p {
	font-weight: bolder;
	color: rgba(255, 255, 255, 0.62);
	text-align: center;
	display: block;
}

.kmacb__manager-border {
	position: absolute;
	width: 75px;
	height: 75px;
	top: 50%;
	left: 50%;
	margin-top: -39.5px;
	margin-left: -39.5px;
	border-radius: 100%;
	border: 2px solid #ffe787;
	webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
	-moz-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
	-ms-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
	-o-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
	animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
	opacity: .8;
	transform-origin: center;
}

@-webkit-keyframes kmacb__manager-border-anim {
	0% {
		transform: scale(1);
	}
	75% {
		opacity: .6;
	}
	100% {
		transform: scale(2.1);
		opacity: .3;
	}
}

@-moz-keyframes kmacb__manager-border-anim {
	0% {
		transform: scale(1);
	}
	75% {
		opacity: .6;
	}
	100% {
		transform: scale(2.1);
		opacity: .3;
	}
}

@-ms-keyframes kmacb__manager-border-anim {
	0% {
		transform: scale(1);
	}
	75% {
		opacity: .6;
	}
	100% {
		transform: scale(2.1);
		opacity: .3;
	}
}

@-o-keyframes kmacb__manager-border-anim {
	0% {
		transform: scale(1);
	}
	75% {
		opacity: .6;
	}
	100% {
		transform: scale(2.1);
		opacity: .3;
	}
}

@keyframes kmacb__manager-border-anim {
	0% {
		transform: scale(1);
	}
	75% {
		opacity: .6;
	}
	100% {
		transform: scale(2.1);
		opacity: .3;
	}
}

.kmacb__manager-fill {
	background: #52aff7 center bottom no-repeat;
	position: absolute;
	width: 75px;
	height: 75px;
	top: 50%;
	left: 50%;
	margin-top: -37.5px;
	margin-left: -37.5px;
	border-radius: 100%;
	opacity: .5;
	webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
	-moz-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
	-ms-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
	-o-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
	animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
	transform-origin: center;
}

@-webkit-keyframes kmacb__manager-fill-anim {
	0% {
		transform: scale(1);
	}
	75% {
		opacity: .3;
		transform: scale(2.1);
	}
	100% {
		opacity: 0;
		transform: scale(2.1);
	}
}

@-moz-keyframes kmacb__manager-fill-anim {
	0% {
		transform: scale(1);
	}
	75% {
		opacity: .3;
		transform: scale(2.1);
	}
	100% {
		opacity: 0;
		transform: scale(2.1);
	}
}

@-ms-keyframes kmacb__manager-fill-anim {
	0% {
		transform: scale(1);
	}
	75% {
		opacity: .3;
		transform: scale(2.1);
	}
	100% {
		opacity: 0;
		transform: scale(2.1);
	}
}

@-o-keyframes kmacb__manager-fill-anim {
	0% {
		transform: scale(1);
	}
	75% {
		opacity: .3;
		transform: scale(2.1);
	}

	100% {
		opacity: 0;
		transform: scale(2.1);
	}
}

@keyframes kmacb__manager-fill-anim {
	0% {
		transform: scale(1);
	}
	75% {
		opacity: .3;
		transform: scale(2.1);
	}
	100% {
		opacity: 0;
		transform: scale(2.1);
	}
}

.spinner-m1 {
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	transform: rotateY(360deg);
}

@media screen and (max-width: 991px) {
	.steps-list li:after {
		right: -50px;
		top: -20px;
		-webkit-transform: rotate(83deg) scaleY(-1);
		-moz-transform: rotate(83deg) scaleY(-1);
		-ms-transform: rotate(83deg) scaleY(-1);
		-o-transform: rotate(83deg) scaleY(-1);
		transform: rotate(83deg) scaleY(-1);
	}

	.steps-list li:nth-child(3):after {
		right: 100%;
		top: 0;
		-webkit-transform: rotate(83deg) scale(1, 1);
		-moz-transform: rotate(83deg) scale(1, 1);
		-ms-transform: rotate(83deg) scale(1, 1);
		-o-transform: rotate(83deg) scale(1, 1);
		transform: rotate(83deg) scale(1, 1);
	}

}
/*****************kmacb end******************/
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    left: 100px;
    display: none;
    text-indent: -9999px;
    background: url(../images/up-arrow-circle-hi.png) no-repeat;
}
/*.remodal*/
.remodal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* width: 99.2%; */
  padding: .8%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #5c8c81;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  border: none;
  width: 85%!important;

}
.remodalBorder{
    width: 89.2%;
    background-color: transparent!important;
    border: 1px solid #e1e1e1;
    padding: 4% 5% 0.8%;
    text-align: center;
}
#modal1Title {
    font-size: 18px;
    font-weight: bold;
    color: #c7d9e7;
    text-shadow: 1px 1px 1px rgba(0, 21, 57, 0.7);
}
.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0px !important;
  background-image: none !important;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.putName, .putPhone{
    padding: 0 15px;
    height: 40px;
    background: #fff;
    margin: 0px auto 15px;
    border-radius: 2px;
    border: none;
    outline: none;
    color: black;
    line-height: 45px;
    display: block;
    width: 90% ;
}
.submit_btn{
    width: 100%;
    height: 42px;
    background: #e57373;
    margin-bottom: 15px;
    border-radius: 2px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}
.remodal-close:before {
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}
span[id*="timer-number-"].timer-slide-inner{
    background-color: #cd0905 !important;
}
/**/
@media only screen and (min-width: 440px){
	.submit_btn{width: 242px;}
	.remodal {
	    max-width: 265px;
	}
	.putName, .putPhone{width: 210px;}
}
@media only screen and (max-width:979px){
	.steps-list li:after{right: 65%; top: 20%;}
}
@media only screen and (max-width: 639px){
	.steps-list li:after{left: 85%; top:-25%;}
}
@media only screen and (max-width: 440px){
	.scrollup{
		width: 30px;
		height: 30px;
		left: 15px;
		background-size: cover;
	}
}

.block_form {
    margin: 0 0 34px;
}

.ifr_button:active {
    background: #c0392b;
}
.ifr_button:hover {
    background: #e75c4e;
}
.ifr_button {
    font-family: Arial;
    display: block;
    margin: 20px auto;
    border: none;
    outline: none;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    width: 180px;
    height: 50px;
    line-height: 48px;
    background: #e74c3c;
    font-weight: 700;
    border-bottom: 2px solid #c0392b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

#kmacb-form input {
    display: block;
    padding: 8px 10px;
    border: #888 1px solid;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}

.form_input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 32px;
}

.putName, .putPhone {	
    padding: 0 15px;
    height: 32px;
    background: #fff;
    margin: 0px auto 15px;
    border-radius: 2px;
    border: none;
    outline: none;
    color: black !important;
    line-height: 45px;
    display: block;
    width: 90%;
}

.putName, .putPhone {
	color: #000 !important;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}

#block1 #order_form input::-webkit-input-placeholder,
#block6 #order_form input::-webkit-input-placeholder {
  color: white;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}

#block1 #order_form input::-moz-placeholder,
#block6 #order_form input::-moz-placeholder {
  color: white;
}

input::-ms-input-placeholder { /* IE 10+ */
  color: #333;
}

#block1 #order_form input::-ms-input-placeholder,
#block6 #order_form input::-ms-input-placeholder {
  color: white;
}

input::-moz-placeholder { /* Firefox 18- */
  color: #333;
}

#block1 #order_form input::-moz-placeholder,
#block6 #order_form input::-moz-placeholder {
  color: white;
}

input::-o-placeholder { /* Firefox 18- */
  color: #333;
}

#block1 #order_form input::-o-placeholder,
#block6 #order_form input::-o-placeholder {
  color: white;
}

#block1 #order_form input,
#block6 #order_form input {
	color: white;
}