@font-face {
    font-family: 'QanelasBold';
    src: url('fonts/QanelasBold.eot');
    src: url('fonts/QanelasBold.eot') format('embedded-opentype'),
         url('fonts/QanelasBold.html') format('woff2'),
         url('fonts/QanelasBold-2.html') format('woff'),
         url('fonts/QanelasBold-3.html') format('truetype'),
         url('fonts/QanelasBold.svg') format('svg');
}
