@font-face {
    font-family: 'QanelasMedium';
    src: url('fonts/QanelasMedium.eot');
    src: url('fonts/QanelasMedium.eot') format('embedded-opentype'),
         url('fonts/QanelasMedium.html') format('woff2'),
         url('fonts/QanelasMedium-2.html') format('woff'),
         url('fonts/QanelasMedium-3.html') format('truetype'),
         url('fonts/QanelasMedium.svg') format('svg');
}
